 .table-container {
        height: 50em;
    }

    table {
        display: flex;
        flex-flow: column;
        height: 100%;
        width: 100%;
        border: 1px solid #ddd;
    }

        table thead {
            /* head takes the height it requires, 
    and it's not scaled when table is resized */
            flex: 0 0 auto;
            width: calc(99.5% - 0.9em);
        }

        table tbody {
            /* body takes all the remaining available space */
            flex: 1 1 auto;
            display: block;
            /*overflow-y: scroll;
            overflow-x:hidden;*/
             width: calc(99.5% - -0.5em);
        }

            table tbody tr {
                width: 100%;
            }
            table tbody td {
                word-wrap: break-word;
            }  
             table thead th {
                word-wrap: break-word;
            }                    
            
             table thead, table tbody tr {
                display: table;
                table-layout: fixed;
            }

             .table-bordered tbody:last-child tr:last-child > td {
            border-bottom: 1px solid #dddddd;
        }