@{
    ViewBag.Title = "UnderDevelop";
    Layout = "~/Views/Shared/ContentLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div style="height:350px;"></div>
    <div align="center" style="font-family:Verdana; font-size:20px; font-style:normal; font-weight:bold; color:black;">
        Under Development !
    </div>
</body>
</html>
