
@{
    ViewBag.Title = "HomePage";
    Layout = "~/Views/Shared/ContentLayout.cshtml";
}

<center>
    <div class="container" style="margin-top:10%;">
        @*<img src="@Url.Content("~/images/HomePage.png")" />*@
     
        <!--style="opacity:0.1"-->
        <img src="@Url.Content("~/images/HomePg-header-lines.png")" />
        <img src="@Url.Content("~/images/HomePage-header.png")" />
       
        
    </div>
</center>