
@{
    ViewBag.Title = "ProductDataSheet3";
    Layout = "~/Views/Shared/ContentLayout.cshtml";
}
<script type="text/javascript">
    var companyname = "", desc2 = "";
    var tblname = "", mfgno = "";
    $(document).ready(function () {
        PDS = new viewModel();
        search = PDS;
        ko.applyBindings(PDS);


        $("#btnEdit").click({ handler: PDS.Edit });
        $("#btnSave").click({ handler: PDS.Save });
        $("#btnCancel").click({ handler: PDS.Cancel });


    });

    function viewModel() {
       
        var self = this;
        var dblclic = false;

        self.EnableDisableControls = ko.observable(false);
        self.EnableDisableMode = ko.observable(true);
        self.EditEnableDisable = ko.observable(true);
        self.AddMode = ko.observable(false);
        self.EditMode = ko.observable(true);
        self.SaveMode = ko.observable(false);
        self.DeleteMode = ko.observable(true);
        var Upc = '@ViewBag.PDSUPC';

        self.PdsNo = ko.observable();
        self.txtmfgname = ko.observable();
        self.txtdesc1 = ko.observable();
        self.txtdesc2 = ko.observable();
        self.txtmfgitem = ko.observable();
        self.txtupc = ko.observable();

        self.txtcp_upc = ko.observable();
        self.txtmp_upc = ko.observable();
        self.txtcp_dpth = ko.observable();
        self.txtmp_dpth = ko.observable();
        self.txtcp_qty = ko.observable();
        self.txtmp_qty = ko.observable();

        self.txtcp_cube = ko.observable();
        self.txtmp_cube = ko.observable();

        self.txtcp_wt = ko.observable();
        self.txtmp_wt = ko.observable();

        self.txtmp_palqty = ko.observable();
        self.txtcp_palqty = ko.observable();

        self.txtcp_ht = ko.observable();
        self.txtmp_ht = ko.observable();

        self.txtcp_wth = ko.observable();
        self.txtmp_wth = ko.observable();

        self.txth_hazmat = ko.observable(false);
        self.txth_importc = ko.observable();
        self.txth_msdsreq = ko.observable(false);
        self.txth_eparegs = ko.observable();
        self.txth_nmfc = ko.observable();
        self.txth_st_rstr = ko.observable();
        //++++++++++++++++++++++++++++++++++++++++++++  by bekingo@gmail.com


        self.f01H_distCode = ko.observable();
        self.f01J_prodcDesc2 = ko.observable()
        self.f01M_packTier = ko.observable();
        self.f01N_tierPit = ko.observable();
        self.f01V_itemHeightEach = ko.observable()
        self.f01W_itemWidthEach = ko.observable();
        self.f01X_itemDepthEach = ko.observable()
        self.f01Y_itemCubicFeetEach = ko.observable();
        self.f01Z_itemWeightEach = ko.observable();
        self.f01AA_heightPurchasingUOM = ko.observable()
        self.f01AB_widthPurchasingUOM = ko.observable()

        self.f01AC_depthPurchasingUOM = ko.observable()
        self.f01AD_cubicFeePurchasingUOM = ko.observable()
        self.f01AE_weightFeePurchasingUOM = ko.observable()
        self.f01AF_purchasingUOMQty = ko.observable()
        self.f01AG_purchasingUOMCode = ko.observable()

        self.f01AH_packCuFt = ko.observable()
        self.f01AI_packWeight = ko.observable()
        self.f01AJ_packWidth = ko.observable()
        self.f01AK_packDepth = ko.observable()
        self.f01AL_packHeigth = ko.observable()

        self.f01AM_tihiBottomLayerQty = ko.observable()
        self.f01AN_tihiRowHighQty1 = ko.observable();
        self.f01AO_tihiBottomLayerType = ko.observable()
        self.f01AP_packTier = ko.observable()
        self.f01AQ_tierPLT = ko.observable()


        self.f01AR_epaRegulationCode = ko.observable()
        self.f01AS_insuranceClassCode = ko.observable()
        self.f01AT_hazardAirCode = ko.observable()
        self.f01AU_hazardWaterCode = ko.observable()
        self.f01AV_hazardGroundCode = ko.observable();

        self.f01AW_lotControllerItem = ko.observable()
        self.f01AX_frtClass = ko.observable()
        self.f01AY_usHamonizedTariffNbr = ko.observable()
        self.f01AZ_hts301TariffNbr = ko.observable()
        self.f01BA_msdsDocDate = ko.observable();


        self.f01BD_listPrice = ko.observable()
        self.f01BH_dealerDropShip = ko.observable()
        self.f01BI_distributionImportFOB = ko.observable()
        self.f01BJ_distributionDomesticFOB = ko.observable();
        self.f01BR_mItemNbr = ko.observable()

        self.f01BS_eanNbr = ko.observable()
        self.f01BU_imageAvailable = ko.observable()
        self.f01BW_productShelfLine = ko.observable()
        self.f01BX_P65 = ko.observable()
        self.f01BY_SDS = ko.observable();
        self.f01BZ_waHaz = ko.observable();
        self.f01CA_califirniaRegNbr = ko.observable();
        self.f01BV_imageFormat = ko.observable();


        companyname = window.parent.document.getElementById('company').value;
        desc2 = window.parent.document.getElementById('desc2').value;

        self.Selecteditems = ko.observableArray([]);

        window.parent.CallEnableTabs();

        self.Selecteditems = function (Item) {
            if (tblname == "product") {
                self.PdsNo(0);
                self.txtmfgname(companyname);
                self.txtdesc1(Item.proddesc.trim());
                self.txtdesc2(desc2);
                self.txtmfgitem(Item.mfgpartno.trim());
                self.txtupc(Item.upc);
                mfgno = Item.MfgNo;
            }
            else {

                self.PdsNo(Item.PdsNo);
                mfgno = Item.mfgno;
                self.txtmfgname(companyname);
                self.txtdesc1(Item.prod_desc.trim());
                self.txtdesc2(desc2);
                self.txtmfgitem(Item.mfgitem.trim());
                self.txtupc(Item.upc);

               // alert(Item.f01H_distCode.trim());
                self.f01H_distCode(Item.f01H_distCode);
                self.f01M_packTier(Item.f01M_packTier);
                self.f01N_tierPit(Item.f01N_tierPit);
                self.f01V_itemHeightEach(Item.f01V_itemHeightEach);

                self.f01W_itemWidthEach(Item.f01W_itemWidthEach);
                self.f01X_itemDepthEach(Item.f01X_itemDepthEach);

                
                self.f01Y_itemCubicFeetEach(Item.f01Y_itemCubicFeetEach);
                self.f01Z_itemWeightEach(Item.f01Z_itemWeightEach);
                self.f01AA_heightPurchasingUOM(Item.f01AA_heightPurchasingUOM);
                self.f01AB_widthPurchasingUOM(Item.f01AB_widthPurchasingUOM); 

                self.f01AC_depthPurchasingUOM(Item.f01AC_depthPurchasingUOM); 
                self.f01AD_cubicFeePurchasingUOM(Item.f01AD_cubicFeePurchasingUOM); 
                self.f01AE_weightFeePurchasingUOM(Item.f01AE_weightFeePurchasingUOM); 
                self.f01AF_purchasingUOMQty(Item.f01AF_purchasingUOMQty); 
                self.f01AG_purchasingUOMCode(Item.f01AG_purchasingUOMCode); 

                self.f01AH_packCuFt(Item.f01AH_packCuFt); 
                self.f01AI_packWeight(Item.f01AI_packWeight); 
                self.f01AJ_packWidth(Item.f01AJ_packWidth); 
                self.f01AK_packDepth(Item.f01AK_packDepth); 
                self.f01AL_packHeigth(Item.f01AL_packHeigth); 

                self.f01AM_tihiBottomLayerQty(Item.f01AM_tihiBottomLayerQty); 
                self.f01AN_tihiRowHighQty1(Item.f01AN_tihiRowHighQty1);
                self.f01AO_tihiBottomLayerType(Item.f01AO_tihiBottomLayerType); 
                self.f01AP_packTier(Item.f01AP_packTier); 
                self.f01AQ_tierPLT(Item.f01AQ_tierPLT); 


                self.f01AR_epaRegulationCode(Item.f01AR_epaRegulationCode); 
                self.f01AS_insuranceClassCode(Item.f01AS_insuranceClassCode); 
                self.f01AT_hazardAirCode(Item.f01AT_hazardAirCode); 
                self.f01AU_hazardWaterCode(Item.f01AU_hazardWaterCode); 
                self.f01AV_hazardGroundCode(Item.f01AV_hazardGroundCode);

                self.f01AW_lotControllerItem(Item.f01AW_lotControllerItem);
                self.f01AX_frtClass(Item.f01AX_frtClass); 
                self.f01AY_usHamonizedTariffNbr(Item.f01AY_usHamonizedTariffNbr); 
                self.f01AZ_hts301TariffNbr(Item.f01AZ_hts301TariffNbr); 
                self.f01BA_msdsDocDate(Item.f01BA_msdsDocDate);


                self.f01BD_listPrice(Item.f01BD_listPrice); 
                self.f01BH_dealerDropShip(Item.f01BH_dealerDropShip); 
                self.f01BI_distributionImportFOB(Item.f01BI_distributionImportFOB); 
                self.f01BJ_distributionDomesticFOB(Item.f01BJ_distributionDomesticFOB);
                self.f01BR_mItemNbr(Item.f01BR_mItemNbr); 

                self.f01BS_eanNbr(Item.f01BS_eanNbr); 
                self.f01BU_imageAvailable(Item.f01BU_imageAvailable); 
                self.f01BW_productShelfLine(Item.f01BW_productShelfLine); 
                self.f01BX_P65(Item.f01BX_P65); 
                self.f01BY_SDS(Item.f01BY_SDS);
                self.f01BZ_waHaz(Item.f01BZ_waHaz);
                self.f01CA_califirniaRegNbr(Item.f01CA_califirniaRegNbr);

                self.f01BV_imageFormat(Item.f01BV_imageFormat);

         

               // alert(self.f01H_distCode);
                /*
                self.txtcp_upc(Item.cp_upc.trim());
                self.txtmp_upc(Item.mp_upc.trim());
                self.txtcp_dpth(Item.cp_dpth);
                self.txtmp_dpth(Item.mp_dpth);
                self.txtcp_qty(Item.cp_qty);
                self.txtmp_qty(Item.mp_qty);

                self.txtcp_cube(Item.cp_cube);
                self.txtmp_cube(Item.mp_cube);


                self.txtmp_palqty(Item.mp_palqty);
                self.txtcp_palqty(Item.cp_palqty);

                self.txtcp_wt(Item.cp_wt);
                self.txtmp_wt(Item.mp_wt);

                self.txtcp_ht(Item.cp_ht);
                self.txtmp_ht(Item.mp_ht);
                
                self.txtcp_wth(Item.cp_wth);
                self.txtmp_wth(Item.mp_wth);
                
                if (Item.h_hazmat == null || Item.h_hazmat == "" || Item.h_hazmat.trim() == 'False') {
                    self.txth_hazmat(false);
                }
                else {
                    self.txth_hazmat(true);
                }

                self.txth_importc(Item.h_importc.trim());

                if (Item.h_msdsreq == null || Item.h_msdsreq == "" || Item.h_msdsreq.trim() == 'False') {
                    self.txth_msdsreq(false);
                }
                else {
                    self.txth_msdsreq(true);
                }
                self.txth_eparegs(Item.h_eparegs.trim());
                self.txth_nmfc(Item.h_nmfc.trim());
                self.txth_st_rstr(Item.h_st_rstr.trim());
                */
            }

        }

        function FillPDS() {
            $.ajax({
                url: "FillPds",
                type: "POST",
                data: { Upc: Upc },
                success: function (response) {
                    var pars = response.Items;
                    tblname = response.tablename;
                    self.Selecteditems(response.Items[0]);
                }
            });
        }
        FillPDS();

        self.Edit = function () {

            window.parent.CallDisableTabs();

            self.AddMode(false);
            self.SaveMode(true);
            self.EditMode(false);
            self.EnableDisableMode(false);
            self.EditEnableDisable(true);
            self.EnableDisableControls(true);
            $('#UPCNum').prop('readonly', true);
            $("#Manufname2").focus();
        }

        self.Save = function () {

            var objpds = [];
            objpds = {
                PdsNo: self.PdsNo(),
                mfgno: mfgno,
                mfgname: self.txtmfgname().trim(),
                prod_desc: self.txtdesc1().trim(),
                mfgitem: self.txtmfgitem().trim(),
                upc: self.txtupc().trim(),
                cp_upc: self.txtcp_upc().trim(),
                mp_upc: self.txtmp_upc().trim(),
                cp_dpth: self.txtcp_dpth().trim(),
                mp_dpth: self.txtmp_dpth().trim(),
                cp_qty: self.txtcp_qty().trim(),
                mp_qty: self.txtmp_qty().trim(),
               
                cp_cube: self.txtcp_cube().trim(),
                mp_cube: self.txtmp_cube(),

                cp_palqty: self.txtcp_palqty(),
                mp_palqty: self.txtmp_palqty(),

                cp_wt: self.txtcp_wt(),
                mp_wt: self.txtmp_wt(),
                
                cp_ht: self.txtcp_ht().trim(),
                mp_ht: self.txtmp_ht().trim(),
                cp_wth: self.txtcp_wth().trim(),
                mp_wth: self.txtmp_wth().trim(),
                
                h_hazmat: self.txth_hazmat(),
                h_importc: self.txth_importc().trim(),
                h_msdsreq: self.txth_msdsreq(),
                h_eparegs: self.txth_eparegs().trim(),
                h_nmfc: self.txth_nmfc().trim(),
                h_st_rstr: self.txth_st_rstr().trim()
            }


            $.ajax({
                url: "Savepds",
                data: { objpds: JSON.stringify(objpds), Scrname: "ProductDataSheet2" },
                type: "POST",
                success: function (response) {
                    if (response.ItemMsg != undefined && response.ItemMsg != null && response.ItemMsg != "") {
                        alert("Gro Group", response.ItemMsg);
                    }
                    else {
                        self.AddMode(false);
                        self.EditMode(true);
                        self.SaveMode(false);
                        self.EnableDisableMode(true);
                        self.EditEnableDisable(true);
                        self.EnableDisableControls(false);
                        FillPDS();
                    }
                }
            });

            window.parent.CallEnableTabs();

        }
        self.Cancel = function () {
            if (self.SaveMode() != true)
                return false;
            alertconfirm("Are You Sure", "Do you want to cancel current changes ?", self.confirmcancel, true, false);
        }
        self.confirmcancel = function () {

            window.parent.CallEnableTabs();

            self.AddMode(false);
            self.EditMode(true);
            self.SaveMode(false);
            self.EnableDisableMode(true);
            self.EditEnableDisable(true);
            self.EnableDisableControls(false);

            FillPDS();
        }


    }
</script>
<div class="widgetbox container" style="height: 780px;max-width:950px !important; text-align:left;overflow: auto;">
    <div class="row-fluid ">
        <div class="span3">
            <ul class="list-nostyle list-inline tooltipsample mob-top">
                <li data-bind="visible: EditMode"><a data-placement="bottom" data-rel="tooltip" data-original-title="Edit" title="Edit" class="btn btn-warning" id="btnEdit"><i class="icon-edit icon-white"></i></a></li>
                <li data-bind="visible: SaveMode"><a data-placement="bottom" data-rel="tooltip" data-original-title="Save" title="Save" class="btn btn-warning" id="btnSave"><i class="icon-list-alt icon-white"></i></a></li>
                <li><a data-placement="bottom" data-rel="tooltip" data-original-title="Cancel" title="Cancel" class="btn btn-info" id="btnCancel"><i class="iconsweets-arrowleft iconsweets-white"></i></a></li>
            </ul>
        </div>
    </div>
    <h4 class="widgettitle">Product Data Sheet3</h4>
    <div class="widgetcontent">
        <div class="widgetcontent" style="border:1px#BCD8F3 solid;">
            <div class="row-fluid">
                <div class="span12">
                    <label class="span3 mob-span">Mfr. Name</label>
                    <input id="Manufname2" tabindex="1" maxlength="35" type="text" style="width:25%;" class="input-medium mob-text" data-bind="disable: EditEnableDisable, value: txtmfgname" />
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <label class="span3 mob-span">Mfr. Item #</label>
                    <input id="mgfritemid" tabindex="3" maxlength="15" type="text" style="width:25%;" class="input-medium mob-text" data-bind="disable: EditEnableDisable, value: txtmfgitem" />
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <label class="span3 mob-span">Description 1</label>
                    <input id="Productdesc" tabindex="2" maxlength="40" type="text" style="width:25%;" class="input-medium mob-text" data-bind="disable: EditEnableDisable, value: txtdesc1,attr:{title:txtdesc1}" />
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <label class="span3 mob-span">Description 2</label>
                    <input id="Productdesc" tabindex="2" maxlength="40" type="text" style="width:25%;" class="input-medium mob-text" data-bind="disable: EditEnableDisable, value: txtdesc2,attr:{title:txtdesc2}" />
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <label class="span3 mob-span">UPC #</label>
                    <input id="UPCNum" tabindex="4" maxlength="14" type="text" style="width:25%;" class="input-medium mob-text" data-bind="disable: EditEnableDisable, value: txtupc" />
                </div>
            </div>

        </div>
        <!-- -->
        <div class="row-fluid">
            <h4 class="widgettitle">UPC MORE DETAILS</h4>
            <div class="widgetcontent">
                <div class="row-fluid">

                    <!--

     <div class="span12"> </div>

    <div class="row-fluid mob-folat-left">
        <div class="span6 mob-wd-50 mob-folat-left"></div>
        <label class="span3 mob-wd-20 mob-folat-left" style="font-weight:bold;width:110px;margin:0px;">Case</label>

    </div>
    -->

                    <div class="row-fluid">
                        <div class="span6">
                            <label class="span6 mob-span">Item Height - Each</label>

                            <input id="f01V_itemHeightEach" tabindex="5" style="width:110px;" maxlength="14" type="text" class="input-medium mob-wd-20" data-bind="disable: EditEnableDisable, value: f01V_itemHeightEach" />

                        </div>
                    </div>


                    <div class="row-fluid">
                        <div class="span6">
                            <label class="span6 mob-span">Item Width - Each</label>

                            <input id="f01W_itemWidthEach" tabindex="5" style="width:110px;" maxlength="14" type="text" class="input-medium mob-wd-20" data-bind="disable: EditEnableDisable, value: f01W_itemWidthEach" />

                        </div>
                        <div class="span6">
                            <label class="span6 mob-span">Item Depth - Each</label>

                            <input id="f01X_itemDepthEach" tabindex="5" style="width:110px;" maxlength="14" type="text" class="input-medium mob-wd-20" data-bind="disable: EditEnableDisable, value: f01X_itemDepthEach" />

                        </div>
                    </div>

                    <!---->
                    <div class="row-fluid">
                        <div class="span6">
                            <label class="span6 mob-span">Item Cubic Feet - Each</label>

                            <input id="f01Y_itemCubicFeetEach" tabindex="5" style="width:110px;" maxlength="14" type="text" class="input-medium mob-wd-20" data-bind="disable: EditEnableDisable, value: f01Y_itemCubicFeetEach" />

                        </div>
                        <div class="span6">
                            <label class="span6 mob-span">Item Weight - Each</label>

                            <input id="f01Z_itemWeightEach" tabindex="5" style="width:110px;" maxlength="14" type="text" class="input-medium mob-wd-20" data-bind="disable: EditEnableDisable, value: f01Z_itemWeightEach" />

                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span6">
                            <label class="span6 mob-span">Height - Purchasing UOM</label>

                            <input id="f01AA_heightPurchasingUOM" tabindex="5" style="width:110px;" maxlength="14" type="text" class="input-medium mob-wd-20" data-bind="disable: EditEnableDisable, value: f01AA_heightPurchasingUOM" />

                        </div>
                        <div class="span6">
                            <label class="span6 mob-span">Width - Purchasing UOM</label>

                            <input id="f01AB_widthPurchasingUOM" tabindex="5" style="width:110px;" maxlength="14" type="text" class="input-medium mob-wd-20" data-bind="disable: EditEnableDisable, value: f01AB_widthPurchasingUOM" />

                        </div>
                    </div>


                    <div class="row-fluid">
                        <div class="span6">
                            <label class="span6 mob-span">Depth - Purchasing UOM</label>

                            <input id="f01AC_depthPurchasingUOM" tabindex="5" style="width:110px;" maxlength="14" type="text" class="input-medium mob-wd-20" data-bind="disable: EditEnableDisable, value: f01AC_depthPurchasingUOM" />

                        </div>
                        <div class="span6">
                            <label class="span6 mob-span">Cubic Feet - Purchasing UOM</label>

                            <input id="f01AD_cubicFeePurchasingUOM" tabindex="5" style="width:110px;" maxlength="14" type="text" class="input-medium mob-wd-20" data-bind="disable: EditEnableDisable, value: f01AD_cubicFeePurchasingUOM" />

                        </div>
                    </div>


                    <div class="row-fluid">
                        <div class="span6">
                            <label class="span6 mob-span">Weight - Purchasing UOM</label>

                            <input id="f01AE_weightFeePurchasingUOM" tabindex="5" style="width:110px;" maxlength="14" type="text" class="input-medium mob-wd-20" data-bind="disable: EditEnableDisable, value: f01AE_weightFeePurchasingUOM" />

                        </div>
                        <div class="span6">
                            <label class="span6 mob-span">Purchasing UOM Quantity</label>

                            <input id="f01AF_purchasingUOMQty" tabindex="5" style="width:110px;" maxlength="14" type="text" class="input-medium mob-wd-20" data-bind="disable: EditEnableDisable, value: f01AF_purchasingUOMQty" />

                        </div>
                    </div>


                    <div class="row-fluid">
                        <div class="span6">
                            <label class="span6 mob-span">Purchasing Unit of Measure Code</label>

                            <input id="f01AG_purchasingUOMCode" tabindex="5" style="width:110px;" maxlength="14" type="text" class="input-medium mob-wd-20" data-bind="disable: EditEnableDisable, value: f01AG_purchasingUOMCode" />

                        </div>
                        <div class="span6">
                            <label class="span6 mob-span">Pack Cu Ft</label>

                            <input id="f01AH_packCuFt" tabindex="5" style="width:110px;" maxlength="14" type="text" class="input-medium mob-wd-20" data-bind="disable: EditEnableDisable, value: f01AH_packCuFt" />

                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span6">
                            <label class="span6 mob-span">Pack Weight</label>

                            <input id="f01AI_packWeight" tabindex="5" style="width:110px;" maxlength="14" type="text" class="input-medium mob-wd-20" data-bind="disable: EditEnableDisable, value: f01AI_packWeight" />

                        </div>
                        <div class="span6">
                            <label class="span6 mob-span">Pack Width</label>

                            <input id="f01AI_packWeight" tabindex="5" style="width:110px;" maxlength="14" type="text" class="input-medium mob-wd-20" data-bind="disable: EditEnableDisable, value: f01AI_packWeight" />

                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span6">
                            <label class="span6 mob-span">Pack Depth</label>

                            <input id="f01AK_packDepth" tabindex="5" style="width:110px;" maxlength="14" type="text" class="input-medium mob-wd-20" data-bind="disable: EditEnableDisable, value: f01AK_packDepth" />

                        </div>
                        <div class="span6">
                            <label class="span6 mob-span">Pack Height</label>

                            <input id="f01AL_packHeigth" tabindex="5" style="width:110px;" maxlength="14" type="text" class="input-medium mob-wd-20" data-bind="disable: EditEnableDisable, value: f01AL_packHeigth" />

                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span6">
                            <label class="span6 mob-span">Ti Hi Bottom Layer Qty</label>

                            <input id="f01AM_tihiBottomLayerQty" tabindex="5" style="width:110px;" maxlength="14" type="text" class="input-medium mob-wd-20" data-bind="disable: EditEnableDisable, value: f01AM_tihiBottomLayerQty" />

                        </div>
                        <div class="span6">
                            <label class="span6 mob-span">Ti Hi Row High Qty</label>

                            <input id="f01AN_tihiRowHighQty1" tabindex="5" style="width:110px;" maxlength="14" type="text" class="input-medium mob-wd-20" data-bind="disable: EditEnableDisable, value: f01AN_tihiRowHighQty1" />

                        </div>
                    </div>


                    <div class="row-fluid">
                        <div class="span6">
                            <label class="span6 mob-span">Ti Hi Bottom UOM (cs or bg)</label>

                            <input id="f01AO_tihiBottomLayerType" tabindex="5" style="width:110px;" maxlength="14" type="text" class="input-medium mob-wd-20" data-bind="disable: EditEnableDisable, value: f01AO_tihiBottomLayerType" />

                        </div>
                    </div>



                    <div class="row-fluid">
                        <div class="span6">
                            <label class="span6 mob-span">EPA Regulation Code/Registratiom #</label>

                            <input id="f01AR_epaRegulationCode" tabindex="5" style="width:110px;" maxlength="14" type="text" class="input-medium mob-wd-20" data-bind="disable: EditEnableDisable, value: f01AR_epaRegulationCode" />

                        </div>
                    </div>


                    <div class="row-fluid">
                        <div class="span6">
                            <label class="span6 mob-span">Insurance Class Code</label>

                            <input id="f01AS_insuranceClassCode" tabindex="5" style="width:110px;" maxlength="14" type="text" class="input-medium mob-wd-20" data-bind="disable: EditEnableDisable, value: f01AS_insuranceClassCode" />

                        </div>
                        <div class="span6">
                            <label class="span6 mob-span">Hazard Code - Air Y/N</label>

                            <input id="f01AT_hazardAirCode" tabindex="5" style="width:110px;" maxlength="14" type="text" class="input-medium mob-wd-20" data-bind="disable: EditEnableDisable, value: f01AT_hazardAirCode" />

                        </div>
                    </div>


                    <div class="row-fluid">
                        <div class="span6">
                            <label class="span6 mob-span">Hazard Code - Water Y/N</label>

                            <input id="f01AU_hazardWaterCode" tabindex="5" style="width:110px;" maxlength="14" type="text" class="input-medium mob-wd-20" data-bind="disable: EditEnableDisable, value: f01AU_hazardWaterCode" />

                        </div>
                        <div class="span6">
                            <label class="span6 mob-span">Hazard Code - Ground Y/N</label>

                            <input id="f01AV_hazardGroundCode" tabindex="5" style="width:110px;" maxlength="14" type="text" class="input-medium mob-wd-20" data-bind="disable: EditEnableDisable, value: f01AV_hazardGroundCode" />

                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span6">
                            <label class="span6 mob-span">Lot Controlled Item Y/N</label>

                            <input id="f01AW_lotControllerItem" tabindex="5" style="width:110px;" maxlength="14" type="text" class="input-medium mob-wd-20" data-bind="disable: EditEnableDisable, value: f01AW_lotControllerItem" />

                        </div>
                        <div class="span6">
                            <label class="span6 mob-span">FRT Class</label>

                            <input id="f01AX_frtClass" tabindex="5" style="width:110px;" maxlength="14" type="text" class="input-medium mob-wd-20" data-bind="disable: EditEnableDisable, value: f01AX_frtClass" />

                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span6">
                            <label class="span6 mob-span">US Harmonized Tariff Number</label>

                            <input id="f01AY_usHamonizedTariffNbr" tabindex="5" style="width:110px;" maxlength="14" type="text" class="input-medium mob-wd-20" data-bind="disable: EditEnableDisable, value: f01AY_usHamonizedTariffNbr" />

                        </div>
                        <div class="span6">
                            <label class="span6 mob-span">HTS 301 Tariff Number</label>

                            <input id="f01AZ_hts301TariffNbr" tabindex="5" style="width:110px;" maxlength="14" type="text" class="input-medium mob-wd-20" data-bind="disable: EditEnableDisable, value: f01AZ_hts301TariffNbr" />

                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span6">
                            <label class="span6 mob-span">SDS Document Date</label>

                            <input id="f01BA_msdsDocDate" tabindex="5" style="width:110px;" maxlength="14" type="text" class="input-medium mob-wd-20" data-bind="disable: EditEnableDisable, value: f01BA_msdsDocDate" />

                        </div>
                    </div>


                    <div class="row-fluid">
                        <div class="span6">
                            <label class="span6 mob-span">Dealer Drop Ship / EA</label>

                            <input id="f01BH_dealerDropShip" tabindex="5" style="width:110px;" maxlength="14" type="text" class="input-medium mob-wd-20" data-bind="disable: EditEnableDisable, value: f01BH_dealerDropShip" />

                        </div>
                        <div class="span6">
                            <label class="span6 mob-span">Distributor Import FOB/EA</label>

                            <input id="f01BI_distributionImportFOB" tabindex="5" style="width:110px;" maxlength="14" type="text" class="input-medium mob-wd-20" data-bind="disable: EditEnableDisable, value: f01BI_distributionImportFOB" />

                        </div>
                    </div>


                    <div class="row-fluid">
                        <div class="span6">
                            <label class="span6 mob-span">Distributor Domestic FOB/EA</label>

                            <input id="f01BJ_distributionDomesticFOB" tabindex="5" style="width:110px;" maxlength="14" type="text" class="input-medium mob-wd-20" data-bind="disable: EditEnableDisable, value: f01BJ_distributionDomesticFOB" />

                        </div>
                    </div>


                    <div class="row-fluid">
                        <div class="span6">
                            <label class="span6 mob-span"> EAN Number  (13 digits)</label>

                            <input id="f01BS_eanNbr" tabindex="5" style="width:110px;" maxlength="14" type="text" class="input-medium mob-wd-20" data-bind="disable: EditEnableDisable, value: f01BS_eanNbr" />

                        </div>
                        <div class="span6">
                            <label class="span6 mob-span">
                                Image Available Y/N
                            </label>

                            <input id="f01BU_imageAvailable" tabindex="5" style="width:110px;" maxlength="14" type="text" class="input-medium mob-wd-20" data-bind="disable: EditEnableDisable, value: f01BU_imageAvailable" />

                        </div>
                    </div>



                    <div class="row-fluid">
                        <div class="span6">
                            <label class="span6 mob-span">
                                Image Format PDF/Jpeg Format
                            </label>

                            <input id="f01BV_imageFormat" tabindex="5" style="width:110px;" maxlength="14" type="text" class="input-medium mob-wd-20" data-bind="disable: EditEnableDisable, value: f01BV_imageFormat" />

                        </div>
                        <div class="span6">
                            <label class="span6 mob-span">
                                Product Shelf Life
                            </label>

                            <input id="f01BW_productShelfLine" tabindex="5" style="width:110px;" maxlength="14" type="text" class="input-medium mob-wd-20" data-bind="disable: EditEnableDisable, value: f01BW_productShelfLine" />

                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span6">
                            <label class="span6 mob-span">P-65</label>

                            <input id="f01BX_P65" tabindex="5" style="width:110px;" maxlength="14" type="text" class="input-medium mob-wd-20" data-bind="disable: EditEnableDisable, value: f01BX_P65" />

                        </div>
                    </div>
                        <div class="span6">
                            <label class="span6 mob-span">
                                California Reg #
                            </label>

                            <input id="f01CA_califirniaRegNbr" tabindex="5" style="width:110px;" maxlength="14" type="text" class="input-medium mob-wd-20" data-bind="disable: EditEnableDisable, value: f01CA_califirniaRegNbr" />

                        </div>
                    </div>

                    <!--
    <div class="row-fluid">
        <div class="span12">
            <label class="span6 mob-span">Case Code Number</label>
            <input id="cp_upc" tabindex="5" style="width:110px;" maxlength="14" type="text" class="input-medium mob-wd-20" data-bind="disable: EnableDisableMode, value: txtcp_upc" />
            <input id="mp_upc" tabindex="6" style="width:90px;" maxlength="14" type="text" class="input-medium mob-wd-20" data-bind="disable: EnableDisableMode, value: txtmp_upc" />
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12">
            <label class="span6 mob-span">Master/Case Pack Qty/Ea.</label>
            <input tabindex="9" style="width:110px;" maxlength="5" type="text" onkeypress="return numbers(this)" class="input-medium mob-wd-20" data-bind="disable: EnableDisableMode, value: txtcp_qty" />
            <input tabindex="10" style="width:90px;" maxlength="5" type="text" onkeypress="return numbers(this)" class="input-medium mob-wd-20" data-bind="disable: EnableDisableMode, value: txtmp_qty" />
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <label class="span6 mob-span">Case Pack Cubic Feet</label>
            <input tabindex="13" style="width:110px;" maxlength="9" type="text" onkeypress="return numberswithdot(this, event, true,6);" class="input-medium mob-wd-20" data-bind="    disable: EnableDisableMode, value: txtcp_cube" />
            <input tabindex="14" style="width:90px;" maxlength="9" type="text" onkeypress="return numberswithdot(this, event, true,6);" class="input-medium mob-wd-20" data-bind="    disable: EnableDisableMode, value: txtmp_cube" />
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <label class="span6 mob-span">Case Pack Weight/lbs.</label>
            <input tabindex="17" style="width:110px;" maxlength="10" type="text" onkeypress="return numberswithdot(this, event, true,7);" class="input-medium mob-wd-20" data-bind="    disable: EnableDisableMode, value: txtcp_wt" />
            <input tabindex="18" style="width:90px;" maxlength="10" type="text" onkeypress="return numberswithdot(this, event, true,7);" class="input-medium mob-wd-20" data-bind="    disable: EnableDisableMode, value: txtmp_wt" />
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <label class="span6 mob-span">Case Pack Height/Inches</label>
            <input tabindex="21" style="width:110px;" maxlength="7" type="text" onkeypress="return numberswithdot(this, event, true, 5);" class="input-medium mob-wd-20" data-bind="    disable: EnableDisableMode, value: txtcp_ht" />
            <input tabindex="22" style="width:90px;" maxlength="6" type="text" onkeypress="return numberswithdot(this, event, true, 4);" class="input-medium mob-wd-20" data-bind="    disable: EnableDisableMode, value: txtmp_ht" />
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <label class="span6 mob-span">Case Pack Width/Inches</label>
            <input tabindex="25" style="width:110px;" maxlength="6" type="text" onkeypress="return numberswithdot(this, event, true,4);" class="input-medium mob-wd-20" data-bind="    disable: EnableDisableMode, value: txtcp_wth" />
            <input tabindex="26" style="width:90px;" maxlength="6" type="text" onkeypress="return numberswithdot(this, event, true,4);" class="input-medium mob-wd-20" data-bind="    disable: EnableDisableMode, value: txtmp_wth" />
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <label class="span6 mob-span">Case Pack Depth/Inches</label>
            <input tabindex="29" style="width:110px;" maxlength="6" type="text" onkeypress="return numberswithdot(this, event, true,4);" class="input-medium mob-wd-20" data-bind="    disable: EnableDisableMode, value: txtcp_dpth" />
            <input tabindex="30" style="width:90px;" maxlength="6" type="text" onkeypress="return numberswithdot(this, event, true,4);" class="input-medium mob-wd-20" data-bind="    disable: EnableDisableMode, value: txtmp_dpth" />
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <label class="span6 mob-span">Pallet Quantity</label>
            <input tabindex="33" style="width:110px;" maxlength="4" type="text" onkeypress="return numbers(this)" class="input-medium mob-wd-20" data-bind="disable: EnableDisableMode, value: txtcp_palqty" />
            <input tabindex="34" style="width:90px;" maxlength="4" type="text" onkeypress="return numbers(this)" class="input-medium mob-wd-20" data-bind="disable: EnableDisableMode, value: txtmp_palqty" />
        </div>
    </div>
    -->


                </div>
            </div>
        </div>

        <!--
        <div class="row-fluid">
            <div class="widgetbox">
                <h4 class="widgettitle">General Information</h4>
                <div class="widgetcontent">
                    <div class="row-fluid">
                        <div class="span3">
                            <label class="span8 mob-span">SDS Required</label>
                            <input tabindex="37" type="checkbox" class="input-medium" data-bind="disable: EnableDisableMode, checked: txth_hazmat" />
                        </div>
                        <div class="span7">
                            <label class="span4 mob-span">Country of Orgin</label>
                            <input tabindex="38" maxlength="6" type="text" class="input-medium mob-cmb" data-bind="disable: EnableDisableMode, value: txth_importc" />
                        </div>
                    </div>

                </div>
            </div>
        </div>
        -->

    </div>
</div>

<div style="height: 800px">
    <iframe id="iPDS2" width="98%" height="100%" scrolling="no" frameborder="0"></iframe>
</div>


